$module: 'footer';

.#{$module} {
  background-color: #1c1c1c;
  width: 100%;
  padding: 7.5rem 2rem;
  line-height: 1.45;
  font-weight: 600;

  &__wrapper {
    padding: 1rem 1.5rem;
    width: 80%;
    margin: 0 auto;
  }

  &__content--white {
    color: #ffffff;
    padding: 2rem 0;
    font-size: 1.4rem;
  }

  &__content--multiple {
    color: #999999;
    font-size: 1.4rem;
  }

  @include mobile {
    &__wrapper {
      width: 100%;
    }
  }
}
