$module: 'header';

.#{$module} {
  background-color: #fff;
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 210;
  display: flex;
  justify-content: center;
  align-items: center;

  &__nav {
    width: 800px;
  }

  .drawer-nav {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include mobile {
    height: 6rem;

    &__nav {
      width: auto;
    }
  }
}
